body {
  background-color: rgba(169, 167, 167, 0.702);
  text-align: center;
}
.choose-color .red {
  height: 70px;
  width: 70px;
  margin: 6px;
  border-radius: 50%;
  background-color: red;
}
.choose-color .yellow {
  height: 70px;
  width: 70px;
  margin: 6px;
  border-radius: 50%;
  background-color: yellow;
}
